    /*footer*/
    
    footer {
        background-color: #353535;
        color: #FFF;
        padding: 20px 15px;
        h3 {
            margin: 0 0 10px 20px;
            color: #e6e6e6;
            font-weight: normal;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
            color: white;
        }
        .footer__logo {
            font-family: 'Shrikhand', sans-serif;
            font-weight: normal;
            font-size: 20px;
        }
    }