header {
    padding: 20px 0;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 170px;
        }
    }
}

.fa-arrow-left:before {
    font-size: 1.5rem;
    position: relative;
    right: 60px;
}