/*Base*/

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1400px;
}

h2 {
    font-family: 'shrikhand', sans-serif;
}

h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

h3,
p {
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
}