/*Base*/

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 2560px;
}

h2,
h3,
p {
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
}