/*Base*/

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1600px;
}

h2 {
    font-family: 'shrikhand', sans-serif;
}

h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 800;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 900;
}

body {
    box-sizing: border-box;
}

.bloc {
    background-color: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    animation: off;
    -webkit-animation: off;
    animation-duration: 3s;
    animation-delay: 1s;
    transition: opacity 3s ease-in-out;
    animation-fill-mode: both;
    &__loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid $colour-primary;
        border-right: 16px solid $colour-secondary;
        border-bottom: solid 16px $colour-tertiary;
        width: 120px;
        height: 120px;
        margin-top: 40%;
        margin-left: auto;
        margin-right: auto;
        animation: rotate 1100s linear infinite;
        -webkit-animation: rotate 1100s linear infinite;
        animation-duration: 3s;
        @media screen and (min-width: 760px) {
            margin-top: 20%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}