/*animation loader*/

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes off {
    from {
        opacity: 100%;
    }
    to {
        display: none;
        opacity: 0%;
        z-index: -1;
    }
}


/*animation heart*/

.heart-section {
    margin-top: 5px;
    .icon--full {
        color: white;
    }
    &:hover .icon--full {
        background: linear-gradient($colour-primary, $colour-secondary);
        background-clip: inherit;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: color 0.9s;
    }
    &:hover .icon--empty {
        opacity: 0;
        transition-duration: 1s;
    }
}

.fa-heart {
    position: absolute;
    left: 85%;
    font-size: 1.8em;
    cursor: pointer;
}

@keyframes apparition {
    0% {
        transform: scale(0);
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}


/*animation pour menu*/

.delay-1 {
    animation-delay: .1s;
}

.delay-2 {
    animation-delay: .3s;
}

.delay-3 {
    animation-delay: .5s;
}

.delay-4 {
    animation-delay: .7s;
}

.delay-5 {
    animation-delay: .9s;
}

.delay-6 {
    animation-delay: .11s;
}

.delay-7 {
    animation-delay: .13s;
}

.delay-8 {
    animation-delay: .15s;
}

.delay-9 {
    animation-delay: .17s;
}

@keyframes apparition {
    0% {
        transform: scale(0);
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}